<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>done</title>
</head>
<body style="background-color: #e7d2cc;">
    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" style="color: #625f68;">Completed</h5>

            </div>
            <div class="modal-body">
              <p style="color: #868b8e;">You have posted for your job successfully</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: #eeede7; border-color: #8e8d85; color: #6e5f5a;">Close</button>
            </div>
          </div>
        </div>
      </div>
    
</body>
</html>